.img-responsive{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.jumbotron{
    text-align: center;
    background:none;
}

.sectionLight{
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}

img.test{
    max-height: 250px;
    max-width: 250px;
}
img.test1{
    max-width: 130px;
}

.coolStuffBtn{
    background-color: red;
    color:#ffffff;
    display: block;
    margin: auto;
}

.col-lg-1,.col-lg-6,.col-md-1,.offset-md-2{
   max-width: 100%;
   width: 100%;
}

h5.modal-title{
    margin-left: auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCenter{
    display:block;
    margin:auto;
    border-radius: 4%;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top:15px;
    margin-bottom: 20px;
    width:100%;
    
}

.size{
    width:40%;
    padding: 10px;
}

[class*="fa-"] {
    margin:10px;
}

.fa-facebook-square{
    color:#3b5998;
}
.fa-google-plus-square{
    color:#c32f10;
}
.fa-instagram{
    color:white;
}

.socialWrapper{
    margin:auto;
}